version: '3.8'

services:
  api:
    build: .
    ports:
      - "8000:8000"
    env_file:
      - .env
    volumes:
      - ./media/reports:/app/media/reports
      - ./logs:/app/logs
    container_name: psychometric_report_api
    restart: unless-stopped